@charset "utf-8";:root {
    --branco: #fff;
    --piscina-100: #06ffff;
    --azul-100: #dfe6f7;
    --azul-200: #254aa0;
    --azul-300: #1b3b87;
    --azul-400: #183579;
    --azul-500: #284159;
    --bg-cinza: #e6e9f2;
    --bg-gradient-45: linear-gradient(45deg,rgb(57,105,225) 0%,rgb(27,209,209) 100%);
    --bg-gradient-90: linear-gradient(90deg,rgb(76,118,217) 0%,rgb(41,204,204) 100%);
    --p-shadow: 0 1px 1px 0 rgba(200,203,211,.004);
    --font1: 'Prompt';
    --cinza-100: #ced3e0;
    --cinza-200: #5f6a76;
    --cinza-300: #525766;
    --cinza-400: #475059
}

.text-color-azul-100 {
    color: #dfe6f7
}

.text-color-azul-200 {
    color: #254aa0
}

.text-color-azul-300 {
    color: #1b3b87
}

.text-color-azul-400 {
    color: #183579
}

.text-color-azul-500 {
    color: #284159
}

.e-box-shadow {
    box-shadow: 1px 1px 0 rgba(200,203,211,.004)
}

.bg-cinza {
    background: #e6e9f2
}

body {
    margin: 0;
    padding: 0;

}

body,input,select,textarea,button {
    font-weight: 400;
    font-family: var(--font1),sans-serif
}

* {
    outline: var(--azul-100);
    word-break: break-word;
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}

.trans {
    font-size: 0;
    color: transparent!important
}

.e_trans {
    display: none!important
}

#conteudo_esquerda {
    width: 100%!important;
    padding-bottom: 10px;
    padding-top: 20px;
    min-height: 40vh
}

#cont_conteudo_site_interna {
    width: 100%!important
}

#e_centralizar {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box
}

#vlibras_include div[vw].enabled {
    transform: translateY(5vh)
}

a,li,ol,ul {
    border: none;
    text-decoration: none;
    list-style: none;
    color: inherit;
    margin: 0;
    padding: 0
}

a:active,a:link,a:hover,a:focus {
    text-decoration: inherit
}

#e_cont_topo img,#e_conteudo img,#e_cont_rodape img {
    border: 0!important;
    margin: 0
}

#e_cont_topo,#e_cont_topo *,#e_cont_topo *:before,#e_cont_topo *:after,#e_conteudo,#e_conteudo *,#e_conteudo *:before,#e_conteudo *:after,#e_cont_rodape,#e_cont_rodape *,#e_cont_rodape *:before,#e_cont_rodape *:after {
    box-sizing: border-box
}

.unselect {
    user-select: none
}

@media(max-width: 767px) {
    html {
        font-size:87.5%
    }
}

body *::-webkit-scrollbar-track {
    border-radius: 10px
}

body *::-webkit-scrollbar {
    width: 5px;
    height: 10px;
    background: rgba(133,144,159,.1);
    margin: 5px;
    border-radius: 10px
}

body *::-webkit-scrollbar-thumb {
    background: #85909f;
    border-radius: 10px
}

body *::-webkit-scrollbar-thumb:hover {
    background: #6b7583
}

img {
    border: 0;
    margin: 0
}

img.e_img {
    position: absolute;
    top: 0;
    left: 0;
    object-position: center 25%;
    transition: .35s ease
}

a:hover img.e_img,.e_hov:hover img.e_img {
    transform: scale(1.15)
}

.flex {
    display: flex
}

.flex-row {
    flex-direction: row
}

.flex-col {
    flex-direction: column
}

.justify-center {
    justify-content: center
}

.justify-between {
    justify-content: space-between
}

.justify-around {
    justify-content: space-around
}

.items-center {
    align-items: center
}

.items-stretch {
    align-items: stretch
}

.items-start {
    align-items: start
}

.items-end {
    align-items: end
}

.flex-wrap {
    flex-wrap: wrap
}

.flex-1 {
    flex: 1 1 0%
}

.flex-auto {
    flex: 1 1 auto
}

.flex-initial {
    flex: 0 1 auto
}

.flex-none {
    flex: none
}

.contents {
    display: contents
}

.gap-1 {
    gap: 1px
}

.gap-2 {
    gap: 2px
}

.gap-3 {
    gap: 3px
}

.gap-4 {
    gap: 4px
}

.gap-5 {
    gap: 5px
}

.gap-10 {
    gap: 10px
}

.gap-15 {
    gap: 15px
}

.gap-20 {
    gap: 20px
}

.gap-25 {
    gap: 25px
}

.gap-30 {
    gap: 30px
}

.p-0 {
    padding: 0
}

.p-5 {
    padding: .313rem
}

.p-10 {
    padding: .625rem
}

.p-15 {
    padding: .938rem
}

.p-20 {
    padding: 1.25rem
}

.p-25 {
    padding: 1.563rem
}

.p-30 {
    padding: 1.875rem
}

.p-35 {
    padding: 2.188rem
}

.p-40 {
    padding: 2.5rem
}

.p-45 {
    padding: 2.813rem
}

.p-50 {
    padding: 3.125rem
}

.px-0 {
    padding-left: 0;
    padding-right: 0
}

.px-5 {
    padding-left: .313rem;
    padding-right: .313rem
}

.px-10 {
    padding-left: .625rem;
    padding-right: .625rem
}

.px-15 {
    padding-left: .938rem;
    padding-right: .938rem
}

.px-20 {
    padding-left: 1.25rem;
    padding-right: 1.25rem
}

.px-25 {
    padding-left: 1.563rem;
    padding-right: 1.563rem
}

.px-30 {
    padding-left: 1.875rem;
    padding-right: 1.875rem
}

.px-35 {
    padding-left: 2.188rem;
    padding-right: 2.188rem
}

.px-40 {
    padding-left: 2.5rem;
    padding-right: 2.5rem
}

.px-45 {
    padding-left: 2.813rem;
    padding-right: 2.813rem
}

.px-50 {
    padding-left: 3.125rem;
    padding-right: 3.125rem
}

.py-0 {
    padding-top: 0;
    padding-bottom: 0
}

.py-5 {
    padding-top: .313rem;
    padding-bottom: .313rem
}

.py-10 {
    padding-top: .625rem;
    padding-bottom: .625rem
}

.py-15 {
    padding-top: .938rem;
    padding-bottom: .938rem
}

.py-20 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem
}

.py-25 {
    padding-top: 1.563rem;
    padding-bottom: 1.563rem
}

.py-30 {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem
}

.py-35 {
    padding-top: 2.188rem;
    padding-bottom: 2.188rem
}

.py-40 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem
}

.py-45 {
    padding-top: 2.813rem;
    padding-bottom: 2.813rem
}

.py-50 {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem
}

.pt-0 {
    padding-top: 0
}

.pt-5 {
    padding-top: .313rem
}

.pt-10 {
    padding-top: .625rem
}

.pt-15 {
    padding-top: .938rem
}

.pt-20 {
    padding-top: 1.25rem
}

.pt-25 {
    padding-top: 1.563rem
}

.pt-30 {
    padding-top: 1.875rem
}

.pt-35 {
    padding-top: 2.188rem
}

.pt-40 {
    padding-top: 2.5rem
}

.pt-45 {
    padding-top: 2.813rem
}

.pt-50 {
    padding-top: 3.125rem
}

.pb-0 {
    padding-bottom: 0
}

.pb-5 {
    padding-bottom: .313rem
}

.pb-10 {
    padding-bottom: .625rem
}

.pb-15 {
    padding-bottom: .938rem
}

.pb-20 {
    padding-bottom: 1.25rem
}

.pb-25 {
    padding-bottom: 1.563rem
}

.pb-30 {
    padding-bottom: 1.875rem
}

.pb-35 {
    padding-bottom: 2.188rem
}

.pb-40 {
    padding-bottom: 2.5rem
}

.pb-45 {
    padding-bottom: 2.813rem
}

.pb-50 {
    padding-bottom: 3.125rem
}

.pl-0 {
    padding-left: 0
}

.pl-5 {
    padding-left: .313rem
}

.pl-10 {
    padding-left: .625rem
}

.pl-15 {
    padding-left: .938rem
}

.pl-20 {
    padding-left: 1.25rem
}

.pl-25 {
    padding-left: 1.563rem
}

.pl-30 {
    padding-left: 1.875rem
}

.pl-35 {
    padding-left: 2.188rem
}

.pl-40 {
    padding-left: 2.5rem
}

.pl-45 {
    padding-left: 2.813rem
}

.pl-50 {
    padding-left: 3.125rem
}

.pr-0 {
    padding-right: 0
}

.pr-5 {
    padding-right: .313rem
}

.pr-10 {
    padding-right: .625rem
}

.pr-15 {
    padding-right: .938rem
}

.pr-20 {
    padding-right: 1.25rem
}

.pr-25 {
    padding-right: 1.563rem
}

.pr-30 {
    padding-right: 1.875rem
}

.pr-35 {
    padding-right: 2.188rem
}

.pr-40 {
    padding-right: 2.5rem
}

.pr-45 {
    padding-right: 2.813rem
}

.pr-50 {
    padding-right: 3.125rem
}

.m-auto {
    margin: auto
}

.m-0 {
    margin: 0
}

.m-5 {
    margin: .313rem
}

.m-10 {
    margin: .625rem
}

.m-15 {
    margin: .938rem
}

.m-20 {
    margin: 1.25rem
}

.m-25 {
    margin: 1.563rem
}

.m-30 {
    margin: 1.875rem
}

.m-35 {
    margin: 2.188rem
}

.m-40 {
    margin: 2.5rem
}

.m-45 {
    margin: 2.813rem
}

.m-50 {
    margin: 3.125rem
}

.mx-auto {
    margin-left: auto;
    margin-right: auto
}

.mx-0 {
    margin-left: 0;
    margin-right: 0
}

.mx-5 {
    margin-left: .313rem;
    margin-right: .313rem
}

.mx-10 {
    margin-left: .625rem;
    margin-right: .625rem
}

.mx-15 {
    margin-left: .938rem;
    margin-right: .938rem
}

.mx-20 {
    margin-left: 1.25rem;
    margin-right: 1.25rem
}

.mx-25 {
    margin-left: 1.563rem;
    margin-right: 1.563rem
}

.mx-30 {
    margin-left: 1.875rem;
    margin-right: 1.875rem
}

.mx-35 {
    margin-left: 2.188rem;
    margin-right: 2.188rem
}

.mx-40 {
    margin-left: 2.5rem;
    margin-right: 2.5rem
}

.mx-45 {
    margin-left: 2.813rem;
    margin-right: 2.813rem
}

.mx-50 {
    margin-left: 3.125rem;
    margin-right: 3.125rem
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto
}

.my-0 {
    margin-top: 0;
    margin-bottom: 0
}

.my-5 {
    margin-top: .313rem;
    margin-bottom: .313rem
}

.my-10 {
    margin-top: .625rem;
    margin-bottom: .625rem
}

.my-15 {
    margin-top: .938rem;
    margin-bottom: .938rem
}

.my-20 {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem
}

.my-25 {
    margin-top: 1.563rem;
    margin-bottom: 1.563rem
}

.my-30 {
    margin-top: 1.875rem;
    margin-bottom: 1.875rem
}

.my-35 {
    margin-top: 2.188rem;
    margin-bottom: 2.188rem
}

.my-40 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem
}

.my-45 {
    margin-top: 2.813rem;
    margin-bottom: 2.813rem
}

.my-50 {
    margin-top: 3.125rem;
    margin-bottom: 3.125rem
}

.mt-auto {
    margin-top: auto
}

.mt-0 {
    margin-top: 0
}

.mt-5 {
    margin-top: .313rem
}

.mt-10 {
    margin-top: .625rem
}

.mt-15 {
    margin-top: .938rem
}

.mt-20 {
    margin-top: 1.25rem
}

.mt-25 {
    margin-top: 1.563rem
}

.mt-30 {
    margin-top: 1.875rem
}

.mt-35 {
    margin-top: 2.188rem
}

.mt-40 {
    margin-top: 2.5rem
}

.mt-45 {
    margin-top: 2.813rem
}

.mt-50 {
    margin-top: 3.125rem
}

.mb-auto {
    margin-bottom: auto
}

.mb-0 {
    margin-bottom: 0
}

.mb-5 {
    margin-bottom: .313rem
}

.mb-10 {
    margin-bottom: .625rem
}

.mb-15 {
    margin-bottom: .938rem
}

.mb-20 {
    margin-bottom: 1.25rem
}

.mb-25 {
    margin-bottom: 1.563rem
}

.mb-30 {
    margin-bottom: 1.875rem
}

.mb-35 {
    margin-bottom: 2.188rem
}

.mb-40 {
    margin-bottom: 2.5rem
}

.mb-45 {
    margin-bottom: 2.813rem
}

.mb-50 {
    margin-bottom: 3.125rem
}

.ml-auto {
    margin-left: auto
}

.ml-0 {
    margin-left: 0
}

.ml-5 {
    margin-left: .313rem
}

.ml-10 {
    margin-left: .625rem
}

.ml-15 {
    margin-left: .938rem
}

.ml-20 {
    margin-left: 1.25rem
}

.ml-25 {
    margin-left: 1.563rem
}

.ml-30 {
    margin-left: 1.875rem
}

.ml-35 {
    margin-left: 2.188rem
}

.ml-40 {
    margin-left: 2.5rem
}

.ml-45 {
    margin-left: 2.813rem
}

.ml-50 {
    margin-left: 3.125rem
}

.mr-auto {
    margin-right: auto
}

.mr-0 {
    margin-right: 0
}

.mr-5 {
    margin-right: .313rem
}

.mr-10 {
    margin-right: .625rem
}

.mr-15 {
    margin-right: .938rem
}

.mr-20 {
    margin-right: 1.25rem
}

.mr-25 {
    margin-right: 1.563rem
}

.mr-30 {
    margin-right: 1.875rem
}

.mr-35 {
    margin-right: 2.188rem
}

.mr-40 {
    margin-right: 2.5rem
}

.mr-45 {
    margin-right: 2.813rem
}

.mr-50 {
    margin-right: 3.125rem
}

.text-xs {
    font-size: .75rem;
    line-height: 1rem
}

.text-sm {
    font-size: .875rem;
    line-height: 1.25rem
}

.text-base {
    font-size: 1rem;
    line-height: 1.5rem
}

.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem
}

.whitespace-nowrap {
    white-space: nowrap
}

.text-left {
    text-align: left
}

.text-center {
    text-align: center
}

.text-right {
    text-align: right
}

.text-justify {
    text-align: justify
}

.text-start {
    text-align: start
}

.text-end {
    text-align: end
}

.uppercase {
    text-transform: uppercase
}

.lowercase {
    text-transform: lowercase
}

.capitalize {
    text-transform: capitalize
}

.normal-case {
    text-transform: none
}

.font-thin {
    font-weight: 100
}

.font-extralight {
    font-weight: 200
}

.font-light {
    font-weight: 300
}

.font-normal {
    font-weight: 400
}

.font-medium {
    font-weight: 500
}

.font-semibold {
    font-weight: 600
}

.font-bold {
    font-weight: 700
}

.font-extrabold {
    font-weight: 800
}

.font-black {
    font-weight: 900
}

.font-italic {
    font-style: italic
}

.line-clamp-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden
}

.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden
}

.line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden
}

.line-clamp-4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden
}

.line-clamp-5 {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden
}

.rounded-none {
    border-radius: 0
}

.rounded-sm {
    border-radius: .125rem
}

.rounded {
    border-radius: .25rem
}

.rounded-md {
    border-radius: .375rem
}

.rounded-lg {
    border-radius: .5rem
}

.rounded-xl {
    border-radius: .75rem
}

.rounded-full {
    border-radius: 9999px
}

.rounded-t-none {
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.static {
    position: static
}

.fixed {
    position: fixed
}

.absolute {
    position: absolute
}

.relative {
    position: relative
}

.sticky {
    position: sticky
}

.inset-0 {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.inset-x-0 {
    left: 0;
    right: 0
}

.inset-y-0 {
    top: 0;
    bottom: 0
}

.top-0 {
    top: 0
}

.right-0 {
    right: 0
}

.bottom-0 {
    bottom: 0
}

.left-0 {
    left: 0
}

.appearence {
    appearance: none
}

.bg-inherit {
    background-color: inherit
}

.bg-current {
    background-color: currentColor
}

.bg-transparent {
    background-color: transparent
}

.bg-black {
    background-color: rgb(0 0 0)
}

.bg-white {
    background-color: rgb(255 255 255)
}

.bg-slate-50 {
    background-color: rgb(248 250 252)
}

.bg-slate-100 {
    background-color: rgb(241 245 249)
}

.bg-slate-200 {
    background-color: rgb(226 232 240)
}

.bg-slate-300 {
    background-color: rgb(203 213 225)
}

.bg-slate-400 {
    background-color: rgb(148 163 184)
}

.bg-slate-500 {
    background-color: rgb(100 116 139)
}

.bg-slate-600 {
    background-color: rgb(71 85 105)
}

.bg-slate-700 {
    background-color: rgb(51 65 85)
}

.bg-slate-800 {
    background-color: rgb(30 41 59)
}

.bg-slate-900 {
    background-color: rgb(15 23 42)
}

.bg-gray-50 {
    background-color: rgb(249 250 251)
}

.bg-gray-100 {
    background-color: rgb(243 244 246)
}

.bg-gray-200 {
    background-color: rgb(229 231 235)
}

.bg-gray-300 {
    background-color: rgb(209 213 219)
}

.bg-gray-400 {
    background-color: rgb(156 163 175)
}

.bg-gray-500 {
    background-color: rgb(107 114 128)
}

.bg-gray-600 {
    background-color: rgb(75 85 99)
}

.bg-gray-700 {
    background-color: rgb(55 65 81)
}

.bg-gray-800 {
    background-color: rgb(31 41 55)
}

.bg-gray-900 {
    background-color: rgb(17 24 39)
}

.text-inherit {
    color: inherit
}

.text-current {
    color: currentColor
}

.text-transparent {
    color: transparent
}

.text-black {
    color: rgb(0 0 0)
}

.text-white {
    color: rgb(255 255 255)
}

.text-slate-50 {
    color: rgb(248 250 252)
}

.text-slate-100 {
    color: rgb(241 245 249)
}

.text-slate-200 {
    color: rgb(226 232 240)
}

.text-slate-300 {
    color: rgb(203 213 225)
}

.text-slate-400 {
    color: rgb(148 163 184)
}

.text-slate-500 {
    color: rgb(100 116 139)
}

.text-slate-600 {
    color: rgb(71 85 105)
}

.text-slate-700 {
    color: rgb(51 65 85)
}

.text-slate-800 {
    color: rgb(30 41 59)
}

.text-slate-900 {
    color: rgb(15 23 42)
}

.text-gray-50 {
    color: rgb(249 250 251)
}

.text-gray-100 {
    color: rgb(243 244 246)
}

.text-gray-200 {
    color: rgb(229 231 235)
}

.text-gray-300 {
    color: rgb(209 213 219)
}

.text-gray-400 {
    color: rgb(156 163 175)
}

.text-gray-500 {
    color: rgb(107 114 128)
}

.text-gray-600 {
    color: rgb(75 85 99)
}

.text-gray-700 {
    color: rgb(55 65 81)
}

.text-gray-800 {
    color: rgb(31 41 55)
}

.text-gray-900 {
    color: rgb(17 24 39)
}

.text-zinc-50 {
    color: rgb(250 250 250)
}

.text-zinc-100 {
    color: rgb(244 244 245)
}

.text-zinc-200 {
    color: rgb(228 228 231)
}

.text-zinc-300 {
    color: rgb(212 212 216)
}

.text-zinc-400 {
    color: rgb(161 161 170)
}

.text-zinc-500 {
    color: rgb(113 113 122)
}

.text-zinc-600 {
    color: rgb(82 82 91)
}

.text-zinc-700 {
    color: rgb(63 63 70)
}

.text-zinc-800 {
    color: rgb(39 39 42)
}

.text-zinc-900 {
    color: rgb(24 24 27)
}

.text-neutral-50 {
    color: rgb(250 250 250)
}

.text-neutral-100 {
    color: rgb(245 245 245)
}

.text-neutral-200 {
    color: rgb(229 229 229)
}

.text-neutral-300 {
    color: rgb(212 212 212)
}

.text-neutral-400 {
    color: rgb(163 163 163)
}

.text-neutral-500 {
    color: rgb(115 115 115)
}

.text-neutral-600 {
    color: rgb(82 82 82)
}

.text-neutral-700 {
    color: rgb(64 64 64)
}

.text-neutral-800 {
    color: rgb(38 38 38)
}

.text-neutral-900 {
    color: rgb(23 23 23)
}

.text-stone-50 {
    color: rgb(250 250 249)
}

.text-stone-100 {
    color: rgb(245 245 244)
}

.text-stone-200 {
    color: rgb(231 229 228)
}

.text-stone-300 {
    color: rgb(214 211 209)
}

.text-stone-400 {
    color: rgb(168 162 158)
}

.text-stone-500 {
    color: rgb(120 113 108)
}

.text-stone-600 {
    color: rgb(87 83 78)
}

.text-stone-700 {
    color: rgb(68 64 60)
}

.text-stone-800 {
    color: rgb(41 37 36)
}

.text-stone-900 {
    color: rgb(28 25 23)
}

.e_shadow {
    box-shadow: 0 -3px 10px rgba(72,78,62,.075);
    position: relative;
    transition: .35s ease
}

a:hover .e_shadow,.e_hov:hover .e_shadow,.e_hov:focus-within .e_shadow {
    transform: translateY(-5px);
    box-shadow: 0 5px 20px -5px rgba(72,78,62,.25)
}

.e_conteudo_modulo .e_conteudo_interno {
    padding: 30px 10px
}

.e_conteudo_modulo.pdt .e_conteudo_interno {
    padding-top: 40px
}

.e_conteudo_modulo.pdb .e_conteudo_interno {
    padding-bottom: 40px
}

.swop_capa:last-child .e_conteudo_interno {
    padding-bottom: 50px
}

body .sw_slider_seta {
    width: 35px;
    height: 35px;
    line-height: 35px;
    color: var(--branco);
    background: var(--azul-200);
    border: 1px solid #fff;
    opacity: 1;
    transition: .2s ease
}

body .sw_slider_seta .swfa {
    font-size: 14px;
    line-height: inherit
}

body .sw_slider_seta:hover {
    opacity: 1;
    transition: .1s
}

body .sw_slider_seta:active {
    background: var(--azul-100);
    color: #333
}

body .sw_slider_seta.sw_slider_anterior {
    left: 0;
    padding-right: 2px;
    box-shadow: 4px 0 5px rgba(54,61,75,.15)
}

body .sw_slider_seta.sw_slider_posterior {
    right: 0;
    padding-left: 2px;
    box-shadow: -4px 0 5px rgba(54,61,75,.15)
}

body .sw_slider_lmt.limit_l .sw_slider_anterior,body .sw_slider_lmt.limit_r .sw_slider_posterior {
    opacity: .6;
    background: #9ca5af;
    color: #fff
}

body .sw_slider_lmt.limit_l.limit_r .sw_slider_seta {
    opacity: 0;
    visibility: hidden
}

body .sw_slider_lmt .sw_area_thumbnails {
    padding: 0;
    margin-top: 5px
}

body .sw_slider_lmt .sw_area_thumbnails .sw_thumbnail {
    width: 8px;
    height: 8px
}

.e_conteudo_interno {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin: 0 auto
}

.e_area_redes_sociais {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    pointer-events: all
}

.e_area_redes_sociais .e_txt {
    display: block;
    font-size: 12px;
    font-weight: 600;
    color: var(--cinza-300);
    text-transform: uppercase
}

.e_area_redes_sociais .e_cont_redes_sociais {
    display: flex;
    gap: 4px;
    align-items: center
}

.e_area_redes_sociais .e_rede_social {
    width: 35px;
    height: 35px;
    overflow: hidden;
    border-radius: 10px;
    background: transparent;
    transition: .3s
}

.e_area_redes_sociais .e_rede_social img {
    width: auto;
    height: auto;
    border-radius: 10px;
    transform: translateY(-50%);
    transition: .25s ease
}

.e_area_redes_sociais .e_rede_social:hover img {
    transform: translateY(0)
}

.e_area_redes_sociais .e_txt_rede_social span {
    color: var(--cinza-300);
    font-size: .75rem;
    font-weight: 300
}

@-webkit-keyframes balanco {
    0% {
        -webkit-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1)
    }

    30% {
        -webkit-transform: scale3d(1.25,.75,1);
        transform: scale3d(1.25,.75,1)
    }

    40% {
        -webkit-transform: scale3d(.75,1.25,1);
        transform: scale3d(.75,1.25,1)
    }

    50% {
        -webkit-transform: scale3d(1.15,.85,1);
        transform: scale3d(1.15,.85,1)
    }

    65% {
        -webkit-transform: scale3d(.95,1.05,1);
        transform: scale3d(.95,1.05,1)
    }

    75% {
        -webkit-transform: scale3d(1.05,.95,1);
        transform: scale3d(1.05,.95,1)
    }

    100% {
        -webkit-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1)
    }
}

@keyframes balanco {
    0% {
        -webkit-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1)
    }

    30% {
        -webkit-transform: scale3d(1.25,.75,1);
        transform: scale3d(1.25,.75,1)
    }

    40% {
        -webkit-transform: scale3d(.75,1.25,1);
        transform: scale3d(.75,1.25,1)
    }

    50% {
        -webkit-transform: scale3d(1.15,.85,1);
        transform: scale3d(1.15,.85,1)
    }

    65% {
        -webkit-transform: scale3d(.95,1.05,1);
        transform: scale3d(.95,1.05,1)
    }

    75% {
        -webkit-transform: scale3d(1.05,.95,1);
        transform: scale3d(1.05,.95,1)
    }

    100% {
        -webkit-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1)
    }
}

#e_cont_topo {
    width: 100%;
    float: left;
    position: relative;
    font-size: 0;
    z-index: 1000;
    background: var(--azul-200)
}

#e_cont_topo::before {
    content: "";
    background: var(--azul-300);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px
}

#e_cont_topo #e_banner_topo_dinamico {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 150px;
    background-repeat: no-repeat;
    background-position: top left;
    position: relative;
    z-index: 2;
    flex-direction: row
}

#e_cont_topo #e_banner_topo_dinamico a {
    display: contents
}

#e_cont_topo #e_banner_topo_dinamico #e_banner_topo_dinamico_clique {
    width: 325px;
    height: 95px;
    z-index: 1001;
    pointer-events: all
}

#e_cont_topo .e_conteudo_topo {
    width: 100%;
    height: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: #003a5e
}

#e_cont_topo .e_area_rede_social {
    position: fixed;
    z-index: 2000;
    right: 10px;
    bottom: 85px
}

#e_cont_topo .e_area_rede_social .e_rede {
    position: relative;
    width: 35px;
    height: 35px;
    overflow: hidden;
    margin-bottom: 5px
}

#e_cont_topo .e_area_rede_social .e_rede img {
    width: 35px;
    height: 70px;
    transform: translateY(-50%);
    transition: .2s
}

#e_cont_topo .e_area_rede_social .e_rede a:hover img {
    transform: translateY(0)
}

#e_cont_topo .e_prev_topo {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: fit-content;
    height: auto
}

#e_cont_topo .e_area_busca {
    position: absolute;
    left: 0;
    top: 6px;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    background: transparent
}

#e_cont_topo .e_area_busca .e_campo_busca {
    overflow: hidden;
    position: relative;
    border-radius: 999px;
    padding: 1px
}

#e_cont_topo .e_area_busca input[type=search] {
    width: 260px;
    height: 36px;
    border-radius: 17.5px;
    appearance: none;
    -webkit-appearance: none;
    border: solid 1px #314d92;
    padding: 0 20px 0 40px;
    background: var(--azul-400);
    color: #fff
}

#e_cont_topo .e_area_busca input[type=search]::placeholder {
    color: #e9e9e9;
    font-size: 12px;
    font-style: italic;
    font-weight: 200;
    letter-spacing: .05rem
}

#e_cont_topo .e_area_busca input[type=search]:focus {
    color: #fff;
    border: solid 1px var(--azul-100)
}

#e_cont_topo .e_area_busca input[type=search]::-webkit-search-cancel-button {
    appearance: none
}

#e_cont_topo .e_area_busca input[type=search]:-webkit-autofill,#e_cont_topo .e_area_busca input[type=search]:-webkit-autofill:hover,#e_cont_topo .e_area_busca input[type=search]:-webkit-autofill:focus {
    -webkit-text-fill-color: #fff;
    -webkit-box-shadow: 0 0 0 1000px var(--azul-300) inset;
    transition: background-color 5000s ease-in-out 0s
}

#e_cont_topo .e_area_busca button {
    position: absolute;
    top: 8px;
    left: 20px;
    appearance: none;
    border: 0;
    padding: 0;
    background: transparent;
    cursor: pointer
}

#e_cont_topo .e_area_busca button .swfa {
    font-size: 12px;
    color: var(--branco)
}

#e_cont_topo .e_area_busca .close_busca {
    position: absolute;
    top: 9px;
    right: 10px;
    font-size: 12px;
    color: #fff;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: transparent;
    padding: 4px;
    border-radius: 999px;
    display: flex;
    justify-content: center
}

#e_cont_topo .e_area_busca .close_busca:hover {
    background: #00000075
}

body #sw_acessibilidade.a2 {
    left: 39px
}

body #sw_acessibilidade.a2 .sw_cont_acessibilidade {
    transform: translateX(-130%);
    transition: .2s ease;
    font-family: var(--font1);
    font-weight: 500
}

body #sw_acessibilidade.a2 .sw_btn_menu_acessibilidade {
    background: var(--bg-gradient-45);
    border-radius: 999px;
    width: 50px;
    height: 50px
}

body #sw_acessibilidade.a2 .sw_icone_acessibilidade {
    transform: scale(.78)
}

body #sw_acessibilidade.a2 .sw_area_botoes_acessibilidade .sw_btn_acessibilidade .sw_txt_btn_acessibilidade {
    font-weight: 500
}

body #sw_acessibilidade.a2 .sw_titulo_acessibilidade {
    font-weight: 600;
    text-transform: uppercase
}

body #sw_acessibilidade.a2.ptrans {
    left: auto;
    right: 0
}

body #sw_acessibilidade.a2.show.ptrans .sw_cont_acessibilidade {
    transform: translateX(-150%);
    transition: .3s ease
}

body #sw_acessibilidade.a3 .sw_titulo_acessibilidade {
    color: #fff
}

body #sw_acessibilidade.a1 .sw_btn_menu_acessibilidade {
    background: var(--bg-gradient-90)
}

#e_cont_topo .e_menu_topo {
    width: 100%;
    margin: auto;
    padding-left: 10px;
    position: relative;
    top: 25px;
    z-index: 1002
}

#e_cont_topo .e_menu_topo>ul {
    width: 100%;
    max-width: 1000px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin: auto;
    gap: 10px
}

#e_cont_topo .e_menu_topo>ul>li {
    height: 55px;
    position: relative;
    cursor: default;
    flex: auto;
    position: relative;
    transition: .2s ease-in-out
}

#e_cont_topo .e_menu_topo>ul>li::after {
    opacity: 0;
    content: "";
    width: 0%;
    height: 2px;
    border-radius: 7px;
    background: var(--bg-gradient-45);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 25px;
    margin: auto;
    transition: .2s
}

#e_cont_topo .e_menu_topo>ul>li:hover::after {
    opacity: 1;
    top: 25px;
    width: 80%
}

#e_cont_topo .e_menu_topo>ul>li:last-child::after {
    display: none
}

#e_cont_topo .e_menu_topo>ul>li:last-child::before {
    display: none
}

#e_cont_topo .e_menu_topo>ul>li>a {
    display: contents
}

#e_cont_topo .e_menu_topo ul li .e_link_menu {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: .75rem;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    font-style: italic;
    letter-spacing: .09rem;
    z-index: 2;
    position: relative;
    overflow: hidden
}

#e_cont_topo .e_menu_topo ul li .e_link_menu::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    transform-origin: left;
    transform: scale(.5) translateX(-101%);
    opacity: 0;
    background: linear-gradient(45deg,rgb(57,105,225,25%) 0%,rgb(27,209,209,25%) 100%);
    transition: .3s ease-in-out
}

#e_cont_topo .e_menu_topo ul li:hover .e_link_menu::before {
    opacity: 1;
    transform: scale(1) translateX(0);
    transition: .3s ease-in-out
}

#e_cont_topo .e_menu_topo ul li:last-child .e_link_menu {
    border-radius: 999px
}

#e_cont_topo .e_menu_topo ul li .e_link_menu>div {
    position: relative
}

#e_cont_topo .e_menu_topo ul li:last-child .e_link_menu::before {
    display: none
}

#e_cont_topo .e_menu_topo ul li .e_link_menu .swfa {
    font-size: 0;
    transform: scale(0) translateY(-10px);
    visibility: hidden;
    opacity: 0;
    transition: .2s
}

#e_cont_topo .e_menu_topo ul li:hover .e_link_menu .swfa {
    font-size: 14px;
    margin-bottom: 8px;
    transform: scale(1) translateY(0);
    visibility: visible;
    opacity: 1;
    background: var(--azul-200);
    color: var(--azul-200);
    width: 30px;
    height: 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s
}

#e_cont_topo .e_menu_topo ul li .e_link_menu div {
    padding: 0 10px;
    transition: .2s
}

#e_cont_topo .e_menu_topo *::-webkit-scrollbar-thumb {
    background: var(--bg-gradient-45)
}

#e_cont_topo .e_menu_topo ul li .e_submenu {
    position: absolute;
    top: 100%;
    left: 0;
    background: none!important;
    visibility: hidden;
    overflow: hidden;
    z-index: 0
}

#e_cont_topo .e_menu_topo ul li:nth-last-child(2) .e_submenu {
    left: auto;
    right: 0
}

#e_cont_topo .e_menu_topo ul li:hover .e_submenu {
    visibility: visible;
    z-index: 1
}

#e_cont_topo .e_menu_topo ul li .e_submenu>ul {
    min-width: 240px;
    max-height: 50vh;
    overflow: hidden;
    overflow-y: auto;
    padding: 4px;
    background: var(--azul-300);
    border-radius: 8px;
    transform: translateY(-100%);
    transform-origin: top;
    box-shadow: 0 5px 10px rgba(0,0,0,.05);
    transition: .3s ease-in-out
}

#e_cont_topo .e_menu_topo ul li:hover .e_submenu>ul {
    transform: translateY(0)
}

#e_cont_topo .e_menu_topo ul li .e_submenu ul li .e_link_submenu {
    padding: 15px;
    font-size: 13px;
    color: #eceff4;
    border-radius: 2px;
    overflow: hidden;
    border-bottom: solid 1px rgba(0,0,0,.1);
    position: relative;
    transition: padding .4s cubic-bezier(.51,-.44,0,1.85),background .1s ease-in-out
}

#e_cont_topo .e_menu_topo ul li .e_submenu ul li:last-child .e_link_submenu {
    border-bottom: 0
}

#e_cont_topo .e_menu_topo ul li .e_submenu ul li:hover .e_link_submenu {
    color: #fff;
    padding-left: 20px;
    padding-right: 10px;
    background: rgba(0,0,0,.192)
}

#e_cont_topo .e_menu_topo ul li.e_li_menu_todos {
    position: static;
    cursor: pointer;
    height: auto;
    height: 65px
}

#e_cont_topo .e_menu_topo ul li.e_li_menu_todos .e_link_menu::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 65px;
    height: 65px;
    background: #2857ae;
    margin: auto;
    display: block;
    border-radius: 999px
}

#e_cont_topo .e_menu_topo ul li.e_li_menu_todos .e_cont {
    align-items: center;
    gap: 5px;
    position: relative;
    z-index: 1000
}

#e_cont_topo .e_menu_topo ul li.e_li_menu_todos .e_cont span {
    font-size: .75rem;
    color: var(--azul-200);
    font-weight: 700;
    transform: translateY(-10px);
    transition: .2s
}

#e_cont_topo .e_menu_topo ul li.e_li_menu_todos:hover .e_cont span {
    transform: translateY(0)
}

#e_cont_topo .e_menu_topo ul li.e_li_menu_todos .e_icone_menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transform: translateY(0);
    transition: .2s
}

#e_cont_topo .e_menu_topo ul li.e_li_menu_todos .e_icone_menu div {
    width: 24px;
    height: 3px;
    border-radius: 2px;
    margin: 1px 0;
    background: #fff;
    font-size: 0
}

#e_cont_topo .e_menu_topo ul li.e_li_menu_todos:hover .e_icone_menu div {
    animation: left-anima-menor 1s cubic-bezier(.39,.575,.565,1) infinite both
}

#e_cont_topo .e_menu_topo ul li.e_li_menu_todos .e_icone_menu div:nth-child(2) {
    width: 24px
}

#e_cont_topo .e_menu_topo ul li.e_li_menu_todos:hover .e_icone_menu div:nth-child(2) {
    animation: left-anima-maior 1s cubic-bezier(.39,.575,.565,1) infinite both;
    animation-delay: 0.5s
}

.scale-up-hor-left {
    animation: left-anima-menor 0.4s cubic-bezier(.39,.575,.565,1) infinite both
}

.left-anima-maior {
    animation: left-anima-maior 0.4s cubic-bezier(.39,.575,.565,1) infinite both
}

@keyframes left-anima-menor {
    50% {
        -webkit-transform: scaleX(.5);
        transform: scaleX(.5);
        -webkit-transform-origin: right;
        transform-origin: right
    }
}

@keyframes left-anima-maior {
    50% {
        -webkit-transform: scaleX(.5);
        transform: scaleX(.5);
        -webkit-transform-origin: right;
        transform-origin: right
    }
}

#e_cont_topo .e_menu_topo ul li.e_li_menu_todos .e_link_menu {
    color: var(--azul-200);
    font-weight: 600
}

#e_cont_topo .e_menu_topo ul li.e_li_menu_todos .e_link_menu .swfa {
    font-size: 20px
}

#e_cont_topo .e_menu_topo ul li.e_li_menu_todos:not(:hover) .e_link_menu .swfa {
    color: #585b66
}

#e_cont_topo .e_menu_topo ul li.e_li_menu_todos .e_menu_todos {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    visibility: hidden;
    z-index: 1500;
    max-width: 1200px
}

#e_cont_topo .e_menu_topo ul li.e_li_menu_todos:hover .e_menu_todos {
    visibility: visible;
    z-index: 1
}

#e_cont_topo .e_menu_topo ul li.e_li_menu_todos .e_menu_todos .e_cont_menu_todos {
    height: 500px;
    height: 40vh;
    background: var(--azul-300);
    border-radius: 0 0 2px 2px;
    position: relative;
    transform: translateY(-100%);
    transition: .4s ease-in-out
}

#e_cont_topo .e_menu_topo ul li.e_li_menu_todos:hover .e_menu_todos .e_cont_menu_todos {
    transform: translateY(0)
}

#e_cont_topo .e_menu_topo ul li.e_li_menu_todos .e_menu_todos .e_cont_barra_menu_todos {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    overflow: auto
}

#e_cont_topo .e_menu_topo ul li.e_li_menu_todos .e_menu_todos ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    gap: 0 20px;
    background: none
}

#e_cont_topo .e_menu_topo ul li.e_li_menu_todos .e_menu_todos ul li {
    width: 250px;
    display: block
}

#e_cont_topo .e_menu_topo ul li.e_li_menu_todos .e_menu_todos ul li .e_cabecalho_links_menu_todos {
    line-height: 16px;
    background: rgba(0,7,39,.15);
    padding: 22px 20px;
    font-size: 16px;
    color: #eceff4;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
    border-radius: 3px;
    text-transform: uppercase;
    position: relative
}

#e_cont_topo .e_menu_topo ul li.e_li_menu_todos .e_menu_todos ul li .e_cabecalho_links_menu_todos .swfa {
    height: 20px;
    line-height: 20px;
    color: inherit;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 15px;
    margin-top: -10px
}

#e_cont_topo .e_menu_topo ul li.e_li_menu_todos .e_menu_todos ul li .e_link_menu_todos {
    padding: 15px;
    font-size: 13px;
    color: #eceff4;
    position: relative;
    overflow: hidden;
    border-bottom: solid 1px rgba(0,0,0,.1);
    transition: padding .4s cubic-bezier(.51,-.44,0,1.85),background .1s ease-in-out
}

#e_cont_topo .e_menu_topo ul li.e_li_menu_todos .e_menu_todos ul li a:hover .e_link_menu_todos {
    padding-left: 20px;
    padding-right: 10px;
    background: var(--azul-400)
}

#e_cont_topo .e_menu_topo ul li.e_li_menu_todos .e_menu_todos ul li .e_link_menu_todos .swfa {
    width: 20px;
    font-size: 10px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: 4px
}

#e_cont_topo .e_menu_topo ul li.e_li_menu_todos .e_menu_todos span {
    max-width: 147px;
    max-width: calc(100% - 20px);
    display: inline-block;
    vertical-align: top
}

#e_cont_topo .e_menu_topo ul li.e_li_menu_todos .e_menu_todos ul li .e_titulo_subitens_menu {
    color: #fff;
    background: rgba(0,7,39,.15);
    border-bottom: solid 1px rgba(0,0,0,.15);
    margin-top: 20px;
    font-weight: 700
}

#e_cont_topo .e_menu_topo ul li.e_li_menu_todos .e_menu_todos ul li .e_subitem_menu {
    background: rgba(0,7,39,.1)
}

#e_cont_topo .e_menu_topo ul li.e_li_menu_todos .e_menu_todos ul li .e_subitem_menu div {
    padding-left: 5px
}

#e_cont_topo .e_menu_topo ul li.e_li_menu_todos .e_menu_todos ul li .e_ultimo_subitem_menu {
    margin-bottom: 10px
}

#e_cont_topo .e_menu_topo ul li.e_li_menu_todos .e_menu_todos ul li:first-child .e_cabecalho_links_menu_todos {
    margin-top: 0
}

#e_cont_topo .e_menu_topo ul li.e_li_menu_todos .e_menu_todos ul li:nth-child(2) .e_titulo_subitens_menu {
    margin-top: 0
}

@media(max-width: 1100px) {
    #e_cont_topo .e_menu_topo ul li .e_link_menu {
        font-size:.75rem
    }
}

#e_conteudo {
    width: 100%;
    float: left;
    background: #e6e9f2
}

#e_conteudo .swop_capa_banner:first-child .p_area_banner {
    padding-top: 0
}

#e_conteudo .p_area_banner_meio {
    padding: 10px 0;
    margin: 1% 0;
    margin-top: 1.5%;
    overflow: hidden
}

#e_conteudo .p_area_banner_meio img {
    width: 100%;
    height: auto;
    max-width: 1160px;
    display: block;
    margin: 0 auto!important;
    border: none!important;
    object-fit: cover
}

#e_conteudo .p_area_banner_meio .e_conteudo_interno {
    overflow: hidden;
    max-width: 1160px
}

#e_conteudo .p_area_banner_meio .e_conteudo_interno * {
    height: 28.45vw;
    max-height: 330px
}

#e_conteudo .p_area_banner_meio.pdt .e_conteudo_interno {
    padding-top: 35px
}

#e_conteudo .p_area_banner_meio.pdb .e_conteudo_interno {
    padding-bottom: 35px
}

#e_cont_rodape {
    width: 100%;
    float: left;
    position: relative;
    background: var(--azul-400);
    position: relative
}

#e_cont_rodape::before {
    content: "";
    width: 100%;
    height: 100%;
    background: url(../img/bg-rodape.png) no-repeat center;
    position: absolute;
    bottom: 36px
}

#e_cont_rodape .e_conteudo_rodape>div {
    position: relative;
    z-index: 2
}

#e_cont_rodape .e_conteudo_info_rodape .e_icone_rodape {
    background: var(--azul-200);
    width: 60px;
    height: 60px;
    border-radius: 999px
}

#e_cont_rodape .e_conteudo_info_rodape div:nth-child(3) a:last-child::before {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 20px;
    background: var(--piscina-100);
    display: inline-flex;
    margin: 0 10px
}

#e_cont_rodape .e_conteudo_info_rodape div:nth-child(4) a:hover .e_new {
    color: var(--piscina-100)
}

#e_cont_rodape .e_cont_img_rodape img {
    transition: .2s
}

#e_cont_rodape .e_cont_img_rodape img:hover {
    transform: scale(.9);
    transition: .2s
}

#e_cont_rodape .sw_area_info_sistema {
    background: #19336d;
    padding: 20px 0;
    font-size: .75rem;
    font-weight: 300;
    font-style: italic;
    letter-spacing: .00875rem;
    color: #fff;
    border: 0;
    flex: 1;
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: var(--font1)
}

.sw_area_info_sistema .sw_info_sistema {
    margin: 0
}

#e_cont_rodape .e_area_instar {
    margin: auto;
    font-size: .75rem;
    color: #fff;
    text-align: center;
    background: #193163
}

#e_cont_rodape .e_area_instar .e_conteudo_interno {
    height: 70px;
    line-height: 70px;
    position: relative;
    background: none;
    padding: 0
}

#e_cont_rodape .e_area_instar img {
    position: absolute;
    top: 50%;
    margin-top: -12px;
    right: 30px
}

@media (max-width: 1000px) {
    body *::-webkit-scrollbar {
        width:6px;
        height: 6px
    }
}

@media (max-width: 1100px) {
    #e_cont_rodape .e_cont_rodape::before {
        display:none
    }
}

.e_itn.itn_area_login_internauta {
    font-family: var(--font1)
}

@media(min-width: 1000px) {
    .e_itn.itn_area_login_internauta {
        font-family:var(--font1)
    }

    .e_itn.itn_area_login_internauta {
        position: relative;
        display: flex;
        max-width: 1200px;
        height: 0;
        border: 0;
        padding: 0;
        margin: auto;
        z-index: 1005;
        pointer-events: none
    }

    .e_itn.itn_area_login_internauta .itn_conteudo_interno_login {
        width: fit-content;
        cursor: pointer;
        position: absolute;
        top: 5px;
        right: 0;
        left: auto!important;
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        pointer-events: all;
        background: transparent;
        border-radius: 4px;
        padding: 4px 9px
    }

    .e_itn.itn_area_login_internauta .itn_conteudo_interno_login:hover {
        background: var(--azul-400)
    }

    .e_itn.itn_area_login_internauta .itn_cont_login .itn_info_login {
        display: none
    }

    .e_itn.itn_area_login_internauta .itn_cont_login::before {
        display: none
    }

    .e_itn.itn_area_login_internauta:not(.itn_internauta_logado) .itn_cont_login:before {
        display: none
    }

    .e_itn.itn_area_login_internauta .itn_cont_login .itn_info_login {
        display: none
    }

    .e_itn.itn_area_login_internauta .itn_btn_login_internauta {
        color: #fff
    }

    .e_itn.itn_area_login_internauta .itn_btn_login_internauta {
        text-transform: uppercase
    }

    .e_itn.itn_area_login_internauta .itn_btn_login_internauta.itn_btn_login span {
        height: 12px
    }

    .e_itn.itn_area_login_internauta .itn_btn_login {
        color: #fff;
        font-size: 12px;
        padding: 0 10px;
        height: 30px;
        line-height: 21px;
        border-radius: 5px;
        position: relative;
        letter-spacing: .07rem;
        background: transparent
    }

    .e_itn.itn_area_login_internauta .itn_btn_login:hover::before {
        background: transparent
    }

    .e_itn.itn_area_login_internauta .itn_btn_login span {
        position: relative;
        transition: .2s;
        text-transform: none;
        font-size: .625rem;
        font-weight: 300;
        font-style: italic
    }

    .e_itn.itn_area_login_internauta .itn_btn_login .swfa {
        top: -2px;
        font-size: .75rem;
        display: none
    }

    .e_itn.itn_area_login_internauta .itn_cont_login .itn_info_logado {
        color: #fff;
        max-width: 200px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden
    }

    .e_itn.itn_area_login_internauta:hover .itn_login_internauta .itn_area_img_internauta {
        transform: scale(1);
        width: 22px;
        height: 22px;
        line-height: 22px;
        font-size: 10px
    }

    .e_itn.itn_area_login_internauta .itn_btn_cadastro:hover {
        background: var(--azul-500)
    }
}

.e_cont_titulo_modulo {
    margin-bottom: 30px
}

.e_cont_titulo_modulo .e_icone_titulo_modulo {
    font-size: 0;
    display: flex
}

.e_cont_titulo_modulo .e_icone_titulo_modulo div {
    position: relative;
    flex: none;
    width: 3px;
    height: 25px;
    background: var(--bg-gradient-90);
    border-radius: 100px
}

.e_cont_titulo_modulo .e_icone_titulo_modulo div:first-child {
    top: 8px
}

.e_cont_titulo_modulo .e_icone_titulo_modulo div:last-child {
    left: 5px;
    height: 40px
}

.e_cont_titulo_modulo .e_titulo_modulo {
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: var(--azul-500)
}

.e_cont_titulo_modulo .e_subtitulo {
    letter-spacing: .09rem;
    color: var(--cinza-300)
}

.e_cont_titulo_modulo a:hover .e_subtitulo {
    color: var(--azul-300);
    transition: .2s
}

@media(max-width: 768px) {
    .e_cont_titulo_modulo .e_subtitulo {
        display:none
    }
}

.e_cont_titulo_modulo .e_btn_arrow_titulo {
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--cinza-100);
    color: var(--azul-200);
    font-size: 1.125rem;
    transition: .2s
}

.e_cont_titulo_modulo a:hover .e_btn_arrow_titulo {
    background: var(--bg-gradient-45);
    color: var(--branco)
}

.e_titulo_text {
    color: var(--cinza-400);
    line-height: 1.4rem
}

a:hover .e_titulo_text {
    color: var(--azul-200);
    transition: .2s
}

.e_descricao {
    color: var(--cinza-200)
}

.e_link_comum {
    display: flex
}

.e_link_comum.e_barra_lateral::before {
    content: "";
    flex: none;
    background: var(--cinza-100);
    display: flex;
    width: 3px;
    height: 2.188rem;
    border-radius: 999px
}

a:hover .e_link_comum.e_barra_lateral::before {
    background: var(--azul-200);
    transition: .2s
}

a:hover .e_link_comum div {
    color: var(--azul-200);
    transition: .2s
}

.e_link_comum span {
    font-size: .75rem;
    color: var(--azul-200);
    position: relative
}

.e_link_comum .e_txt_link_comum {
    margin-left: auto
}

.e_link_comum .e_icone_link_comum {
    position: relative;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 999px;
    background: var(--cinza-100);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: .2s
}

.e_link_comum .e_icone_link_comum::before {
    content: '';
    background-image: -webkit-linear-gradient(45deg,rgb(41,90,204) 0%,rgb(41,204,204) 100%);
    opacity: .3;
    position: absolute;
    width: 1.8rem;
    height: 1.8rem;
    transform: translateX(-30px);
    transition: .2s
}

a:hover .e_link_comum .e_icone_link_comum::before {
    transform: translateX(0);
    transition: .2s
}

.e_categoria {
    max-width: 200px
}
